@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
      @apply transition-all duration-700 dark:duration-700;
    }
    body{
        @apply max-w-7xl mx-auto px-4 bg-light dark:bg-darks dark:text-amber-50 transition-all duration-700 animate-born ;
        /* @apply dark: bg-red-400 dark: text-blue-800; */
    }
    
}

@layer components{
  .bg-light{
    /* background: rgb(173,169,255);
    background: linear-gradient(132deg, rgba(173,169,255,1) 0%, rgba(0,255,134,1) 100%);  */
    background-color: gainsboro;
  }
  .bg-darks{
    /* background: rgb(35,109,173);
    background: linear-gradient(132deg, rgba(35,109,173,1) 0%, rgba(0,0,0,1) 100%);  */
    background-color: #191919;
  }
}

body{
  transition: all 900ms;
}

.max-h-75vh{
  max-height: 75vh;
}
.grid-75-25{
  grid-template-columns: 75% 25%;
}
.grid-60-40{
  grid-template-columns: 60% 40%;
}

.animate-born{
    animation: born .5s linear ;
    /* transform: ; */
  }
  @keyframes born {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;;
      }
  }

/* ----------------------------*/
.error {
    animation: cartel 1s 1;
    transform-origin: top center;
}

@keyframes cartel {
    20% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    60% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-5deg);
    }
}
/* 
 ? ------------------------ SCROLL BAR  ------------------------
*/

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: white ;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }
  
  *::-webkit-scrollbar-track {
    background: black;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 8px;
    border: 2px solid black;
  }


